#btn1{
    text-align: center;
   width:400px;
   height:100px;
   margin-left:50%;
   margin-right:50%;
   margin-top:40px;
  
}
#btn2{
    float: right;
   margin-left:50%;
   margin-right:50%;
   margin-top: 10px;
   width:200px;
}