<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr *ngFor="let u of users">
                   
                <!-- <td class="col-md-3"><img class="img-fluid" src="{{u.photo}}" alt=""></td> -->
                <td>{{u.userid}}</td>
                <td>{{u.name}}</td>
                <td>{{u.contact}}</td>
                <td>{{u.email}}</td>
                <td>{{u.password}}</td>
                <td>{{u.age}}</td>
                <td>{{u.city}}</td>
                <td class="col-md-3"><img  src="{{u.photo}}" width="300" height="200" class="img-rounded" ></td>
                
                
               </tr>

        </table>
    </div>
</div>
